
:markdown
  [Barbary c.1300, "foreign lands" (especially non-Christian lands), from L. barbaria.](http://www.etymonline.com/index.php?term=Barbary)

  [Barbary Lion](http://en.wikipedia.org/wiki/Barbary_lion)


.center
  %img{src: "http://s3.amazonaws.com/s3.capnregex.com/PostcardBarbaryLionSultanNYZoologicalPark1905.jpg"}
  %a{href: "http://commons.wikimedia.org/wiki/File:PostcardBarbaryLionSultanNYZoologicalPark1905.jpg"}
    Wikimedia Creative Commons

